<!-- Validation failure messages -->
<% if @bucket.errors.any? %>
  <% @bucket.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Bucket</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_bucket" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image (Paste image URL)
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @bucket.image %>">
      </div>


      <!-- Label and input for category -->
      <div class="form-group">
        <label for="category" class="control-label">
          Category
        </label>

        <select id="category" name="category" class="form-control">
          <option value="Travel">Travel</option>
          <option value="Theater & Show">Theater & Show</option>
          <option value="Entertainment">Entertainment</option>
          <option value="New Skills">New Skills</option>
          <option value="History">History</option>
          <option value="Nature">Nature</option>
          <option value="Food">Food</option>
        </select>
      </div>

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <textarea id="caption" name="caption" placeholder="Caption" class="form-control"><%= @bucket.caption %></textarea>
      </div>

      <!-- Label and input for deadline -->
      <div class="form-group">
        <label for="deadline" class="control-label">
          Deadline
        </label>

        <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" name="deadline" id="deadline">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

      </div>

      <div class="form-group">
        <label for="body" class="control-label">
          Description
        </label>

        <input type="text" id="body" name="body" placeholder="Description" class="form-control" value="<%= @bucket.body %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location (ex. Chicago, USA or Paris, France)
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @bucket.location %>">
      </div>

      <!-- Label and input for price_range -->
      <div class="form-group">
        <label for="price_range" class="control-label">
          Price range
        </label>

        <select id="price_range" name="price_range" class="form-control">
          <option value="100-200">$100-200</option>
          <option value="200-300">$200-300</option>
          <option value="300-400">$300-400</option>
          <option value="400-500">$400-500</option>
          <option value="500+">$500+</option>
        </select>
      </div>

      <!-- Label and input for done -->


      <select option style="display:none;" id="done" name="done" class="form-control">
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>
      </div>

      <button class="btn btn-success">
        Create Bucket
      </button>
      or
      <a href="/buckets">Cancel</a>
    </form>
  </div>
</div>





<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
