<div class="page-header">
  <h3>Bucket #<%= @bucket.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @bucket.user.username %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @bucket.image %>" width="95%" height="95%" </dd>

      <dt>Caption</dt>
      <dd><%= @bucket.caption %></dd>

      <dt>Deadline</dt>
      <dd><%= @bucket.deadline %></dd>

      <dt>Body</dt>
      <dd><%= @bucket.body %></dd>

      <dt>Location</dt>
      <dd><%= @bucket.location %></dd>

      <dt>Price Range</dt>
      <dd><%= @bucket.price_range %></dd>

      <dt>Done</dt>
      <dd><%= @bucket.done %></dd>

      <p>
        <form action="/create_like" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" name="bucket_id" value="<%= @bucket.id %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
            </button>
                <% if @bucket.likes.count == 0 %>
                <small class="text-muted">be the first to like this</small>
                <% else %>
                <% @bucket.likes.each do |like| %>
                <small class="text-muted"><%= like.user.username %> like this</small>
                <% end %>

                <% end %>
              </form>
          </p>
      <li class="media">
        <div class="media-body">
          <form action="/create_comment" method="post">
            <input name="authenticity_token" type="hidden" value="form_authenticity_token">
            <input type="hidden" name="bucket_id" value="<%= @bucket.id %>">
            <input type="hidden" name="user_id" value="<%= @bucket.user_id %>">

            <div class="form-group">
              <label for="body" class="sr-only">
                Body
              </label>
            <div class="input-group">
              <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>

              <span class="input-group-btn">
                <button class="btn btn-default">
                <i class="fa fa-commenting-o"></i>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/buckets" class="btn btn-primary">
        Back
      </a>
      <a href="/buckets/<%= @bucket.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bucket/<%= @bucket.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
