<div class="page-header">
  <h3>Bucket #<%= @bucket.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @bucket.user.username %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @bucket.image %>" width="95%" height="95%" </dd>

      <dt>Caption</dt>
      <dd><%= @bucket.caption %></dd>

      <dt>Deadline</dt>
      <dd><%= @bucket.deadline %></dd>

      <dt>Image2</dt>
      <dd><%= @bucket.image2 %></dd>

      <dt>Location</dt>
      <dd><%= @bucket.location %></dd>

      <dt>Price range</dt>
      <dd><%= @bucket.price_range %></dd>

      <dd><% if @bucket.likes.pluck(:user_id).include? current_user.id %>
      <a href="/users_unlike/<%= @bucket.id %>">
        <i class="fa fa-heart"></i></a>
        <% else %>
        <a href="/users_like/<%= @bucket.id %>">
          <i class="fa fa-heart-o"></i>I like this bucket</a>
          <% end %>
      </dd>
      <li class="media">
        <div class="media-body">
          <form action="/create_comment" method="post">
            <input name="authenticity_token" type="hidden" value="form_authenticity_token">
            <input type="hidden" name="bucket_id" value="<%= @bucket.id %>">
            <input type="hidden" name="user_id" value="<%= @bucket.user_id %>">

            <div class="form-group">
              <label for="body" class="sr-only">
                Body
              </label>
            <div class="input-group">
              <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>

              <span class="input-group-btn">
                <button class="btn btn-default">
                <i class="fa fa-commenting-o"></i>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/buckets" class="btn btn-primary">
        Back
      </a>
      <a href="/buckets/<%= @bucket.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bucket/<%= @bucket.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
